*,*::after,*::before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.cd-faq{
	width:90%;
	max-width:1024px;
	margin:2em auto;
	box-shadow:0 1px 5px rgba(0,0,0,.1)
}
.cd-faq:after{
	content:"";
	display:table;
	clear:both
}
.faq-arrow{
	color: rgba(109, 115, 119, 0.56)!important;
	float: right;
	position: absolute;
	font-size: 14px!important;
	right: 0;
	font-weight: 100 !important;
	padding: 0!important;
	transition: 0.3s ease;
}
.html-ar .faq-arrow{
	left:0
}
.open .faq-arrow{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg)
}
@media only screen and (min-width:10px){
	.cd-faq{
		position:relative;
		margin:4em auto;
		box-shadow:none
	}

}
.cd-faq-items{
	position:fixed;
	height:100%;
	width:90%;
	top:0;
	right:0;
	background:#fff;
	padding:0 5% 1em;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	z-index:1;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform:translateZ(0) translateX(100%);
	-moz-transform:translateZ(0) translateX(100%);
	-ms-transform:translateZ(0) translateX(100%);
	-o-transform:translateZ(0) translateX(100%);
	transform:translateZ(0) translateX(100%);
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
	transition:transform .3s
}
@media only screen and (min-width:10px){
	.cd-faq-items{
		position:static;
		height:auto;
		width:100%;
		float:right;
		overflow:visible;
		-webkit-transform:translateZ(0) translateX(0);
		-moz-transform:translateZ(0) translateX(0);
		-ms-transform:translateZ(0) translateX(0);
		-o-transform:translateZ(0) translateX(0);
		transform:translateZ(0) translateX(0);
		padding:0;
		background:transparent
	}

}
@media only screen and (min-width:1024px){
	.cd-faq-items{
		float:none;
		width:100%
	}

}
@media only screen and (min-width:10px){
	.cd-close-panel{
		display:none
	}

}
.cd-faq-group{
	display:none
}
@media only screen and (min-width:10px){
	.cd-faq-group{
		display:block;
		padding-left:0;
		margin: 4.5% 0 0 5%;
	}
	.cd-faq-group>li{
		background:#fff;
		margin-bottom:6px;
		box-shadow:0 1px 0 rgba(0,0,0,.08);
		-webkit-transition:box-shadow 0.2s;
		-moz-transition:box-shadow 0.2s;
		transition:box-shadow 0.2s;
		list-style:none;
		cursor:pointer
	}

}
.cd-faq-trigger{
	position:relative;
	display:block;
	margin:1.6em 0 .4em;
	line-height:1.2;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
@media only screen and (min-width:10px){
	.cd-faq-trigger{
		font-size:15px;
		font-family:'Montserrat',sans-serif;
		margin:0;
		font-weight:700;
		padding:29px 50px 29px 0
	}
	.cd-faq-content p{
		font-size:14px;
		line-height:1.4;
		color:rgba(102,157,37,1)
	}
	.faqrow{
		width: 82%
	}
}
@media only screen and (min-width:10px){
	.cd-faq-content{
		display:none;
		padding:0 0 30px
	}
	.cd-faq-content p{
		line-height:1.6
	}

}
.search-box{
	border-bottom:1px solid transparent;
	transition:width .9s cubic-bezier(0,.795,0,1)
}
.search-box span{
	bottom:15px;
	position:absolute;
	top:auto;
	cursor:pointer;
	color:#9c9b9b;
	z-index:10;
	right:0
}
.search-input::placeholder{
	color:#6d7377
}
.search-input{
	position:absolute;
	left:auto;
	bottom:0;
	right:0;
	transition:width .9s cubic-bezier(0,.795,0,1);
	z-index:0;
	outline:0;
	border:0;
	background:0;
	cursor:pointer;
	padding:0 28px 0 0;
	width:0;
	height:50%;
	line-height:16px!important;
	font-size:14px!important
}
.search-active{
	z-index:2;
	cursor:text;
	width:calc(100% - 20px);
	padding:0 25px;
	color:#bbbec0
}
.box-active{
	border-color:#a0a4a6
}
.close-symbol{
	right:25px;
	color:#bbbec0;
	display:none;
	cursor:pointer;
	z-index:3
}
.no-transition{
	transition:none!important
}
.html-ar .search-symbol{
	left:0
}
.html-ar .close-symbol{
	left:0
}
